@font-face {
  font-family: "page-header";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("openType");
  font-weight: 700; }
@font-face {
  font-family: "subheader";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("openType");
  font-weight: 600; }
@font-face {
  font-family: "body";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("openType");
  font-weight: 400; }
@font-face {
  font-family: "button";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("openType");
  font-weight: 700;
  line-height: 2em; }
.logo {
  max-height: 20px;
  max-width: 120px; }

.nav {
  margin: 0;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #323232; }
  .nav__options {
    display: flex;
    justify-content: space-around; }
  .nav__link {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff; }
    .nav__link:hover {
      color: #E1E1E1; }
    .nav__link__container {
      margin: 0;
      padding: 0;
      height: inherit;
      width: 50vw;
      text-align: center; }

.footer {
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 1em;
  padding-bottom: 1.5%;
  background-color: #323232;
  color: #ffffff; }
  .footer__links {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff; }
  .footer span {
    display: block;
    line-height: 1.2em;
    font-size: 1em; }
  .footer__title {
    margin: 2% 0 0 0;
    font-weight: normal; }
  .footer__info {
    margin-bottom: 6%; }
  .footer__copyright {
    margin: 0 0 1% 0; }
  .footer--strong-text {
    font-weight: bolder; }
  .footer__icons {
    margin-bottom: 7%;
    width: 40%;
    display: flex;
    justify-content: space-between; }
  .footer__text {
    margin-bottom: 14%; }

.link--inactive {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-weight: bolder; }
  .link--inactive a {
    color: #AFAFAF; }

.link--active {
  align-self: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: bolder; }
  .link--active a {
    height: inherit; }
  .link--active::after {
    width: 100%;
    content: "";
    border-bottom: 0.3em solid #ffffff; }

html {
  font-size: 10px; }
  @media (min-width: 320px) and (max-width: 767px) {
    html h1, html h2 {
      font-size: 2.4em;
      line-height: 3.2em;
      font-family: "page-header"; }
    html h3 {
      font-size: 1.4em;
      font-family: "subheader"; }
    html p, html span {
      font-size: 1.3em;
      line-height: 1.8em;
      font-family: "body"; }
    html button, html label {
      font-size: 1em;
      font-family: "button"; } }

.logo__link {
  margin: 4% auto; }

.header {
  height: 31em;
  width: 100%;
  color: #ffffff;
  position: relative; }
  .header__title {
    line-height: 1.5em;
    color: #ffffff; }
  .header__iframe {
    margin: 11% 0; }
  .header__image {
    top: 0;
    left: 0;
    margin: 0;
    height: 31em;
    width: 100vw;
    position: absolute;
    box-sizing: border-box; }
  .header__text {
    top: 0;
    left: 0;
    padding: 5%;
    position: absolute; }
  .header__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: absolute;
    background-color: #323232; }

.shows__section {
  padding-left: 1.6em;
  padding-right: 1.6em; }
.shows__title {
  margin-left: 4%;
  margin-bottom: 0;
  font-size: 3.4em;
  line-height: 2em; }
.shows__titles {
  margin: 2% 0 1% 0;
  display: block;
  text-transform: uppercase;
  color: #AFAFAF; }
.shows__value {
  margin: 0 0 5% 0; }
.shows__button {
  width: 100%;
  margin-top: 2%;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.4em;
  border: none;
  font-size: 1.5em; }
  .shows__button:hover {
    background-color: #000000; }
.shows__group--desktop {
  display: none; }
.shows__list {
  margin-bottom: 4%; }

.line {
  margin: 5% 0;
  border: 1px solid #E1E1E1; }

@media (min-width: 768px) and (min-width: 768px) and (min-width: 768px) {
  html h1 {
    font-size: 6em;
    line-height: 6.8em;
    font-family: "page-header"; }
  html h2 {
    font-size: 3.6em;
    line-height: 4.4em;
    font-family: "page-header"; }
  html h3 {
    font-size: 2.4em;
    line-height: 3.2em;
    font-family: "subheader"; }
  html p {
    font-size: 1.4em;
    line-height: 2.2em;
    font-family: "body"; }
  html footer, html span {
    font-size: 1.4em;
    line-height: 2em;
    font-family: "body"; }
  html button, html label {
    font-size: 1.2em;
    font-family: "button"; } }

@media (min-width: 768px) and (min-width: 768px) {
  .logo__link {
    margin: 4%; }

  .nav {
    max-height: 7em;
    align-items: center;
    flex-direction: row; }
    .nav__options {
      width: 30%; }
    .nav__link {
      line-height: 4.5em; }
      .nav__link__container {
        font-size: 1.4em;
        width: fit-content;
        margin: 0; }

  .link--inactive, .link--active {
    margin: auto; }

  .footer {
    padding-left: 3.6em;
    padding-right: 3.6em;
    padding-top: 4.8em;
    position: relative;
    display: flex;
    flex-direction: column; }
    .footer__title {
      margin: 0;
      line-height: 1em;
      font-size: 2.7em;
      width: fit-content;
      display: inline-block; }
    .footer__text {
      margin-top: 2%;
      margin-bottom: 0;
      padding-bottom: 0;
      display: flex;
      font-size: 0.8em; }
    .footer__logo {
      top: 5.5em;
      right: 5em;
      position: absolute; }
    .footer__copyright {
      font-size: 1em; }
    .footer__icons {
      margin: 0 0 0 5%;
      width: 25%;
      display: inline-flex;
      font-size: 1.7em; }
    .footer__info {
      margin-right: 7%; }
    .footer__social-network {
      width: 42%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; } }
@media (min-width: 768px) {
  .header {
    height: 48em; }
    .header__image {
      height: 48em; }
    .header__text {
      margin: 2% 0 0 5%;
      height: 48em; }
    .header__title {
      margin: 0; }
      .header__title-2 {
        margin-bottom: 8%;
        font-size: 6em;
        line-height: 1.2em; }
    .header__overlay {
      height: 48em; }
    .header__iframe {
      height: 130px;
      width: 41em; }

  .shows {
    padding-top: 4.8em; }
    .shows__list {
      padding-left: 3.6em;
      padding-right: 3.6em;
      display: flex;
      flex-direction: column; }
      .shows__list:first-child {
        width: 50%;
        justify-content: space-evenly; }
    .shows__group {
      height: 10%;
      display: inline-flex;
      align-items: baseline; }
      .shows__group--desktop {
        display: inline-flex; }
      .shows__group--mobile {
        display: none; }
    .shows__button {
      width: 20%; }
    .shows__value {
      width: 10em;
      margin: 0 5% 0 0; }
    .shows__titles {
      margin: 0 1% 1% 0;
      width: 14em; }

  .line {
    margin: 1%; } }
@media (min-width: 1280px) and (min-width: 1280px) and (min-width: 768px) {
  html h1 {
    font-size: 6em;
    line-height: 6.8em;
    font-family: "page-header"; }
  html h2 {
    font-size: 3.6em;
    line-height: 4.4em;
    font-family: "page-header"; }
  html h3 {
    font-size: 2.4em;
    line-height: 3.2em;
    font-family: "subheader"; }
  html p {
    font-size: 1.4em;
    line-height: 2.2em;
    font-family: "body"; }
  html footer, html span {
    font-size: 1.4em;
    line-height: 2em;
    font-family: "body"; }
  html button, html label {
    font-size: 1.2em;
    font-family: "button"; } }

@media (min-width: 1280px) and (min-width: 1280px) {
  article {
    padding-left: 3.6em;
    padding-right: 3.6em;
    padding-top: 4.8em; }

  .footer {
    padding: 4% 4% 2% 4%; }
    .footer__icons {
      margin: 0 0 0 15%; } }
@media (min-width: 1280px) {
  .header {
    padding: 0;
    height: 60em; }
    .header__image, .header .header__overlay, .header .header__text {
      height: 60em; }
    .header__titles {
      margin-right: 15%;
      display: block; }
    .header__title {
      margin-top: 4%; }
      .header__title--2 {
        width: 7em; }
    .header__text {
      display: flex;
      flex-direction: row;
      top: 9%;
      left: 5em; }
    .header__iframe {
      margin: 6% auto; }

  .shows__section {
    margin: 1% 6%;
    display: flex;
    flex-direction: row; }
  .shows__list {
    align-self: end;
    margin: 6% 0 0 7%;
    width: 90%; }
  .shows__title {
    margin-left: 4%; }
  .shows__titles {
    margin: 0 -2% 1% 0;
    width: 16em; }
  .shows__button {
    margin-top: 0; }
  .shows__group:first-child {
    margin-bottom: 3%; }

  .line {
    margin: 2%;
    width: 85%; } }

/*# sourceMappingURL=shows.css.map */
