$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #ffffff;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$paddingGeneric: 16px;
$paddingtop: 24px;

@mixin header-section{
    font-size: 24px;
    line-height: 32px;
    font-family: url("/sprint-one/assets/Font/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}

@mixin sub-header{
    font-size: 14px;
    line-height: 22px;
    font-family: url("/sprint-one/assets/Font/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}

@mixin body-footer{
    font-size: 13px;
    line-height: 18px;
    font-family: url("/sprint-one/assets/Font/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
}

@mixin padding-container{
    padding-top: $paddingtop;
    padding-left: $paddingGeneric;
    padding-right: $paddingGeneric;
}

main {
    color: $BandSite-Black;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:active {
        color: $White;
        font-weight: bolder;
    }

    &:hover {
        color: $BandSite-DarkBlack;
    }

    &:disabled {
        color: $Silver;
    }
}

article, footer{
    @include padding-container;
}

h2, h3{
    margin: 0 0 $paddingGeneric 0;
}

span{
    display: block;
}

p:last-child{
    margin: 0;
    padding-bottom: $paddingGeneric;
}

.logo{
    margin: 4% auto;
    max-height: 20px;
    max-width: 120px;
}

.header{
    display: flex;
    background-color:$BandSite-Black;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: fit-content;

    &::after {
        width: 50%;   
        content:"";
        border-bottom: 5px solid $White;
    }

    &__link {
        color: $White;
        @include sub-header;
    }
    
    &__nav {
        display: flex;
        justify-content: space-around;

        &__title{
            margin-bottom: 2%;
        }
    }
}

#linkShows {
    &:link {
        color: $Mercury;
    }
}

.section1{
    padding: 0;
    height: 50%;
    width: auto;
    position: relative;

    &__image{
        height: 100%;
        width: 100vw;
        opacity: 50%;
    }

    &__title{
        top: 42%;
        left: 5%;
        margin: 0px;
        color: $White;
        position: absolute;
        z-index: 1;
        @include header-section;
    }  
}

.section2{
    &__title {
        @include header-section;
    }

    &__image{
        width: 100%;
    }

    &__text{
        @include sub-header;
    }
}

.section3 {
    margin: 0 auto;
    
    &__title {
        @include sub-header;
    }
    
    &__paragraph1 {
        @include body-footer;
    }

    &__paragraph2 {
        @include body-footer;
    }
}

.section4 {
    background-color: $Mercury;

    &__title {
        @include header-section;
    }
    
    & img {
        width: 100%;
        padding-bottom: $paddingGeneric;
    }
}

.footer {
    background-color:$BandSite-Black;
    color: $White;

    & p {
        margin: 0;
        padding-bottom: $paddingGeneric;
        @include body-footer;
    }

    & a {
        color: $White;
    }

    &__title {
        margin-bottom: 0;
        @include header-section;
    }

    &__text {
        padding-bottom: 9%;
    }

}

.strong-text{
    font-weight: bolder;
}

.icons{
    padding: $paddingGeneric 0;
    display: flex;
    justify-content: space-between;
    width: 40%;
}