//Header and Footer Styles.
@import "partial";

.logo{
  @include logo-size;
}

.nav {
  margin: 0;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $primary-color-1;

  &__options {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    @include link-style;

    &:hover {
      color: $secondary-color-2;
    }
    
    &__container {
      margin: 0;
      padding: 0;
      height: inherit;
      width: 50vw;
      text-align: center;
    }
  }
}

.footer {
  @include padding(320px);
  padding-top: 1em;
  padding-bottom: 1.5%;
  background-color:$primary-color-1;
  color: $primary-color-3;

  &__links {
    @include link-style;
  }

  & span {
    display: block;
    line-height: 1.2em;
    font-size: 1em;
  }

  &__title {
      margin: 2% 0 0 0;
      font-weight: normal;
  }
  
  &__info {
    margin-bottom: 6%;
  }

  &__copyright {
    margin: 0 0 1% 0;
  }

  &--strong-text{
    font-weight: bolder;
  }

  &__icons{
    margin-bottom: 7%;
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 14%;
  }
}

// Special classes for active section 

.link--inactive {
   align-self: center;
   display: flex;
   flex-direction: column;
   font-weight: bolder;

   & a {
    color: $primary-color-2;
   }
}

.link--active {
  align-self: center;
  display: flex;
  flex-direction: column;
  color: $primary-color-3;
  font-weight: bolder;
  
  & a {
    height: inherit;
  }

  &::after {
    width: 100%;   
    content:"";
    border-bottom: 0.3em solid $primary-color-3;
  }
}

// End to special classes for active section view

// Media query for global classes correspondent to tablets.
@mixin tablet-global {
  @media(min-width:768px){ 

    html {
      @include tablet-desktop-fonts;
    }
    
    .logo__link {
      margin: 4%;
    }

    .nav {
      max-height: 7em;
      align-items: center;
      flex-direction: row;
      
      &__options {
        width: 30%;
      }

      &__link {
        line-height: 4.5em;

        &__container {
          font-size: 1.4em; //It decreases so it can coincide with the mockup.
          width: fit-content;
          margin: 0;
        }
      }
    }

    .link--inactive, .link--active {
      margin: auto;
    }
    
    .footer {
      @include padding(768px);
      @include padding-top(768px);
      position: relative;
      display: flex;
      flex-direction: column;
      
      &__title {
          margin: 0;
          line-height: 1em;
          font-size: 2.7em;
          width: fit-content;
          display: inline-block;
      }
      
      &__text {
        margin-top:2%;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        font-size: 0.8em;
      }
      
      &__logo {
        top: 5.5em;
        right: 5em;
        position: absolute;
      }
      
      &__copyright {
        font-size: 1em;
      }
      
      &__icons {
        margin: 0 0 0 5%;
        width: 25%;
        display: inline-flex;
        font-size: 1.7em;
      }

      &__info {
        margin-right: 7%;
      }

      &__social-network {
        width: 42%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}

// Desktop media query
@mixin desktop-global {
  @media(min-width:1280px){ 

    html {
      @include tablet-desktop-fonts;
    }

    article {
      @include padding(1280px);
      @include padding-top(1280);
    }

    .logo__link {
      margin-left: 10%;
    }

    .nav__options {
      width: 18%;
    }

    .footer {
      padding: 4% 4% 2% 4%;

      &__icons {
        width: 28%;
      }

      &__social-network {
        width: 31%;
      }

      &__logo {
        right: 7em;
      }
    }
  }
}